<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row" style="padding: 10px">
            <!-- card -->
            <div class="col-lg-4 col-md-1 mb-1">
                <div class="card mb-4">
                  <div
                    class="bg-image hover-overlay ripple"
                    data-mdb-ripple-color="light"
                  >
                    <img
                      src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F9444696.jpg"
                      class="img-fluid"
                    />
                    <a href="#!">
                      <div
                        class="mask"
                        style="background-color: rgba(251, 251, 251, 0.15)"
                      ></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Oven-Roasted Asparagus</h5>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingfroue">
                                <button
                                  class="accordion-button"
                                  type="button"
                                  data-mdb-toggle="collapse"
                                  data-mdb-target="#collapsefour"
                                  aria-expanded="false"
                                  aria-controls="collapsefour"
                                >
                                  Ingredients
                                </button>
                              </h2>
                              <div id="collapsefour" class="accordion-collapse collapse show" aria-labelledby="headingfroue" data-mdb-parent="#accordionExample">
                                <div class="accordion-body">
                                    1 bunch thin asparagus spears, trimmed - 3 tablespoons olive oil - 1 ½ tablespoons grated Parmesan cheese (Optional) - 1 clove garlic, minced (Optional) - 1 teaspoon sea salt - ½ teaspoon ground black pepper - 1 tablespoon lemon juice (Optional)                              </div>
                              </div>
                            </div>
                    <p>Step 1: Preheat an oven to 425 degrees F (220 degrees C).</p>
                    <p>Step 2: Place the asparagus into a mixing bowl, and drizzle with the olive oil. Toss to coat the spears, then sprinkle with Parmesan cheese, garlic, salt, and pepper. Arrange the asparagus onto a baking sheet in a single layer.</p>
                    <p>Bake in the preheated oven until just tender, 12 to 15 minutes depending on thickness. Sprinkle with lemon juice just before serving.</p>

                  </div>
                </div>
              </div>
              <!-- card -->
              <!-- card -->
            <div class="col-lg-12 col-md-6 mb-4">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F3275386.jpg&w=272&h=272&c=sc&poi=face&q=60"
                      alt="..."
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Classic Savory Deviled Eggs</h5>
                      <div class="card-text">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button
                                  class="accordion-button"
                                  type="button"
                                  data-mdb-toggle="collapse"
                                  data-mdb-target="#collapseOne"
                                  aria-expanded="false"
                                  aria-controls="collapseOne"
                                >
                                    Ingredients
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">4 (1 ounce) squares unsweetened baking chocolate</li>
                                        <li class="list-group-item">1 cup butter</li>
                                        <li class="list-group-item">4 eggs</li>
                                        <li class="list-group-item">2 egg whites</li>
                                        <li class="list-group-item">2 cups white sugar</li>
                                        <li class="list-group-item">¼ cup strong brewed coffee</li>
                                        <li class="list-group-item">2 teaspoons kosher for Passover vanilla flavoring</li>
                                        <li class="list-group-item">1 cup potato starch</li>
                                        <li class="list-group-item">2 tablespoons potato starch</li>
                                        <li class="list-group-item">¼ cup matzo cake meal</li>
                                        <li class="list-group-item">2 tablespoons matzo cake meal</li>
                                        <li class="list-group-item">¼ cup unsweetened cocoa powder</li>
                                        <li class="list-group-item">½ teaspoon salt</li>
                                        <li class="list-group-item">6 ounces semisweet chocolate chips</li>
                                        
                                      </ul>
                                </div>
                              </div>
                            </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                <button
                                  class="accordion-button"
                                  type="button"
                                  data-mdb-toggle="collapse"
                                  data-mdb-target="#collapseTwo"
                                  aria-expanded="false"
                                  aria-controls="collapseTwo"
                                >
                                  Step #1
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-mdb-parent="#accordionExample">
                                <div class="accordion-body">
                                    Scoop egg yolks into a bowl and set egg whites aside. Mash yolks, mayonnaise, vinegar, 1/2 teaspoon chopped dill, Dijon mustard, garlic powder, and salt. Spoon yolk mixture into egg whites. Garnish with dill sprigs. Refrigerate until ready to serve.
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card -->
              
            </div>
            
        </div>
        <div class="col-lg-12 col-md-6 mb-1">
            <div class="card mb-10">
              <div
                class="bg-image hover-overlay ripple"
                data-mdb-ripple-color="light"
              >
                <img
                  src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F4496755.jpg&w=595&h=398&c=sc&poi=face&q=60"
                  class="img-fluid"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.15)"
                  ></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Deb's Passover Brownies</h5>
                <p>Step 1: Preheat oven to 350 degrees F (175 degrees C). Grease 2 8x8-inch baking pans.</p>
                <p>Melt unsweetened chocolate and butter in the top of a double boiler over simmering water; stir to mix well. Beat the eggs and egg whites together in a mixing bowl with an electric mixer on high speed until very fluffy, about 5 minutes. Gently stir the butter and chocolate mixture, sugar, coffee, and vanilla flavoring into the egg mixture, and beat well to combine.</p>
                <p>Step 3: Mix together all of the potato starch, all of the matzo cake meal, cocoa powder, and salt in a bowl. Beat the dry ingredients into the chocolate mixture with electric mixer until fluffy and thoroughly combined. Gently fold the chocolate chips into the batter, and divide between the 2 prepared baking dishes.</p>
                <p>Step 4: Bake in the preheated oven until a toothpick inserted into the center of a pan shows moist crumbs, 25 to 30 minutes.</p>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button
                          class="accordion-button"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Ingredients
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-mdb-parent="#accordionExample">
                        <div class="accordion-body">
                            4 (1 ounce) squares unsweetened baking chocolate - 1 cup butter - 4 eggs - 2 egg whites - 2 cups white sugar - ¼ cup strong brewed coffee - 2 teaspoons kosher for Passover vanilla flavoring - 1 cup potato starch
- 2 tablespoons potato starch
- ¼ cup matzo cake meal
- 2 tablespoons matzo cake meal
- ¼ cup unsweetened cocoa powder
- ½ teaspoon salt
- 6 ounces semisweet chocolate chips
                        </div>
                      </div>
                    </div>
                
              </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>