<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main style="padding: 10px">
        <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://m.media-amazon.com/images/I/61xWXhPIHqL._AC_SX679_.jpg" class="img-fluid">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Silicone Spatulas</h5>
                <p class="card-text">
                  Helps cooking
                </p>
                <a href="#!" class="btn btn-primary">Buy</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://www.pamperedchef.com/iceberg/com/product/1071-2-lg.jpg" class="img-fluid">
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Peeler</h5>
                <p class="card-text">
                  Allow you to peel
                </p>
                <a href="#!" class="btn btn-primary">Buy</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="form-outline mb-3">
                  <input type="text" id="form1" class="form-control">
                  <label class="form-label" for="form1" style="margin-left: 0px">First Name</label>
                  <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle" style="width: 88.8px"></div>
                    <div class="form-notch-trailing"></div>
                  </div>
                  <div class="form-outline mb-3">
                    <input type="text" id="awdw" class="form-control">
                    <label class="form-label" for="awdw" style="margin-left: 0px">Last Name</label>
                    <div class="form-notch">
                      <div class="form-notch-leading" style="width: 9px"></div>
                      <div class="form-notch-middle" style="width: 88.8px"></div>
                      <div class="form-notch-trailing"></div>
                    </div>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

                <form class="row g-3 mb-3">
                  <div class="col-auto">
                    <div class="form-outline">
                      <input type="text" class="form-control" id="inputPassword2" placeholder="Card Number" autocomplete="off" style="
                          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                          background-repeat: no-repeat;
                          background-attachment: scroll;
                          background-size: 16px 18px;
                          background-position: 98% 50%;
                        ">
                      <label class="form-label" for="inputPassword2" style="margin-left: 0px">Card Number</label>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 64px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div></div>
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary">
                      Verify Card
                    </button>
                  </div>
                </form>

                
              </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>